<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036910937594-0hderqaic0sg8a8s6ji28kmra188024n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036910937594-0hderqaic0sg8a8s6ji28kmra188024n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036910937594-7qvg80elajm9m2h00duuhgfa7kknrump.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCHaSO95TWUqyLfPF7FTldIjWm79epIyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1036910937594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.social</string>
	<key>PROJECT_ID</key>
	<string>social-49a82</string>
	<key>STORAGE_BUCKET</key>
	<string>social-49a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036910937594:ios:694a40758b574790bfd043</string>
</dict>
</plist>